@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-Heavy.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "SUIT";
    src: url("fonts/SUIT/SUIT-Thin.ttf");
    font-weight: 100;
}